# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT


if SHIELD_LUCY_V02_LEFT || SHIELD_LUCY_V03_LEFT

config ZMK_KEYBOARD_NAME
	default "Lucy"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_LUCY_V02_LEFT || SHIELD_LUCY_V02_RIGHT

config ZMK_SPLIT
	default y

endif
